@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
    height: 100%;
}
.container {
    display: flex;
    justify-content: center;
}
.main-header {
    display: flex;
    background: #161616;
    border-radius: 30px;
    width: 1221px;
    height: 646px;
    margin: 40px;
    align-items: center;
}
.header-info {
    color: white;
    margin: 111px;
}
.header-title {
    font-weight: 700;
    font-size: 60px;
}
.header-description {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}
.header-button {
    text-decoration: none;
    color: white;
    padding: 16px 25px;
    gap: 10px;
    background: #DD0000;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}
.header-images {
    width: 100%;
    height: 100%;
    margin-top: 380px;
    margin-right: 50px;
}

/* 2nd section styles 
---------------------*/
.upcoming-match {
    background: #161616;
    border-radius: 10px;
    width: 200px;
    height: 212px;
    left: 140px;
    padding: 20px;
}
.group:hover {
    color: whitesmoke;
}
.item:hover {
    font-weight: 700;
    background-color: #b30000;
    font-size: 18px;
    box-shadow: 5px 10px 10px white;
}
.match-items {
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}
.group {
    color: black;
    text-decoration: none;
}
.group.empty:hover {
    color: lightblue;
}
.empty {
    color: white;
}

.last {
    background: #DD0000;
}

/*-----------------
 grid 9 item styles
------------------- */
.flag{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0px;
    justify-content: center;
}
.flag-info{
    text-align: center;
}
.live-info {
    width: 312px;
    height: 312px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 5px 10px 5px #888888;
    display: flex;
    align-items: center;
    
}
.live {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}
.main-flag{
    margin-left: 30px;
}
.second-section {
    display: flex;
    justify-content: center;
    width: 1221px;
    height: 646px;
    gap: 10px;
    margin-top: 70px;
}
.flag-vs{
    font-size: 20px;
    color: #161616;
    font-weight: 700;
}
.flag-description{
    font-size: 12px;
    font-weight: 400;
}
/*---------------------
 footer styles
--------------- --------------*/
.footer-goal {
    width: 100%;
    height: 444px;
    left: 0px;
    top: 2090px;
    background: #161616;
    text-align: center;
    display: grid;
    align-items: center;
}
footer{
   margin-top: 400px;
}
.footer-list{
    display: flex;
    justify-content: center;
    gap: 40px;
    font-weight: 400;
    font-size: 12px;
    color: #aaaa9e;
    margin-bottom: 50px;
}
.heading-goal{
    text-align: center;
}
.footer-list li{
    list-style: none;
}
.goal{
    margin-bottom: 100px;
}
hr{
  border: 1px solid #474745;
  margin: 0 200px;
}
.heading-goal{
    color: white;
    font-size: 30px;
    font-weight: 600;
    
}